<!DOCTYPE html>
<html>
  <head>
    <title>Tempat Tebakan</title>
    <%- include ../partials/link-style.ejs %>
  </head>
  <body>
    <div class="">
      <%- include ../partials/menu-bar-admin.ejs %>
      <h1 style="font-size: 50px; position: relative; top: 100px;">List User</h1>
      <br><br><br><br><br><br><br>
      <table style="width: 100%">
        <thead>
          <th>No.</th>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
          <th>Options</th>
        </thead>
        <tbody>
          <% for (let i=0;i<data.length;i++) { %>
            <tr>
              <td><%= `${i+1}.` %></td>
              <td><%= `${data[i].username}` %></td>
              <td><%= `${data[i].email}` %></td>
              <td><%= `${data[i].password}` %></td>
              <td><a href="/delete/<%=`${data[i].id}`%>" >DELETE</a></a></td>
            </tr>
         <%  } %>
        </tbody>
      </table>
    </div>
  </body>
</html>